.c20.c-btn {
    background: linear-gradient(234deg, rgba(65, 158, 229, 1) 0%, rgba(39, 123, 219, 1) 100%);
    min-width: 100%;
    padding: 5px;
    display: flex;
}

.c20.c-btn .c-btn-title {
    font-size: 14px;
    color: white !important;
    text-transform: uppercase;
    margin: auto;
    margin-left: 0;
}

.c20.c-btn .c-btn-icon:after {
    background: #FFFFFF;
    border-radius: 5px;
    height: 32px;
    opacity: 0.3;
    width: 32px;
    content: "";
    display: block;
    position: absolute;
}

.c20.c-btn .c-btn-icon {
    min-height: 32px;
    min-width: 32px;
    width: 32px;
    height: 32px;
    display: flex;
    position: relative;
    margin-right: 10px;
}

.c20.c-btn .c-btn-icon svg {
    margin: auto;
}
