.c31.c-btn {
    height: 44px;
    font-size: 16px;
    background: #4B70FF;
    color: white;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #4B70FF;
    text-transform: uppercase;
    /* line-height: 30px; */
}

.c31.c-btn.c-btn-white {
    background: white;
    color: #6A707E;
    border: 1px solid #ACACAC;
}

.c31.c-btn svg {
    width: 10px;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
}