.icon-c1 {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.icon-c1-82px {
    min-height: 82px;
    height: 82px;
    max-height: 82px;
    min-width: 82px;
    width: 82px;
    max-width: 82px;
}