.icon-c1 {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.icon-c1-82px {
    min-height: 82px;
    height: 82px;
    max-height: 82px;
    min-width: 82px;
    width: 82px;
    max-width: 82px;
}

.icon-c1-40px {
    min-height: 40px;
    height: 40px;
    max-height: 40px;
    min-width: 40px;
    width: 40px;
    max-width: 40px;
}

.icon-c1-50px {
    min-height: 50px;
    height: 50px;
    max-height: 50px;
    min-width: 50px;
    width: 50px;
    max-width: 50px;
}

.icon-c2 {
    width: 20px;
    height: 20px;
    color: red;
    cursor: pointer;
}

.icon-c3 {
    height: 42px;
    color: #4D4F5C;
    border-radius: 5px;
    border: 1px solid #CBCBCB;
    min-width: 42px;
    display: flex;
}

.icon-c3 svg {
    margin: auto;
}

.icon-c4 {
    width: 20px;
}